{% extends "base.html" %}

{% block content %}
    <h1>Тут какая-то ошибка</h1>
    <p>Администратор уже в курсе. По крайней мере мы на это надеемся</p>
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}