<html>
    <head>
      {% if title %}
      <title>Карточки - {{ title }}</title>
      {% else %}
      <title>Админы заголовок забыли</title>
      {% endif %}
    </head>
    <body>
        <div>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('about_us') }}">О проекте</a>
            <a href="{{ url_for('login') }}">Войти</a>
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
            {% else %}
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('chain') }}">Блокчейн</a>
            <a href="{{ url_for('mine') }}">Помайнить</a>

            Привет, <a href="{{ url_for('user', username=current_user.username) }}"> {{  current_user.username }}.</a>

            <a href="{{ url_for('logout') }}">Выйти</a>
            <a href="{{ url_for('reset_chain') }}">Рестарт цепи</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>