{% extends "base.html" %}

{% block content %}
    <h1>Блокчейн</h1>
    {% for block in blockchain %}
    __________________________________________________________________
    <p> Time : {{ block.timestamp }} <br>
    Data : {% for transaction in block.data %} <br>
        ----------------------------------------<br>
        Sender : {{ transaction['sender'] }} <br>
        Recipient : {{ transaction['recipient'] }} <br>
        Amount : {{ transaction['amount'] }}<br>
        ----------------------------------------
        {% endfor %}
        <br>
    PrevHash : {{ block.prev_hash }} <br>
    Nonce : {{ block.nonce }} <br>
        Hash : {{ block.hash }} <br> </p>
    __________________________________________________________________
    {% endfor %}


{% endblock %}