{% extends "base.html" %}

{% block content %}
    <h1>Профиль: {{ user.username }} </h1>
    <p> Сумма на счету: {{ amount }} <a href="{{ url_for('new_transaction', username=current_user.username) }}">Перевести</a> </p>
{% endblock %}
